body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.contenedorImagen {background-color: aquamarine; text-align: center;}

.dato {background-color: brown;text-align: left;}